---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.online-cv-content {
    margin-top: 1px;
    font-family: $sans-serif;
    font-weight: bold;
  }

  .online-cv-content h1 {
    border-top: 2px solid #ccc; /* Adjust the color and thickness as needed */
    padding-bottom: 10px;
    margin-bottom: 20px;
}